/* ------------------------------------------- */
/* HOTEL VIEW | LAYOUT / PAGE
/* ------------------------------------------- */

.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header {
    height: 7rem;
    background-color: var(--color-white);
    border-bottom: var(--color-grey-light-4);
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-3);

    flex: 0 0 18%;      // Starts from Growth, Shrink and Basis at the end/Width \\
}

.hotel-view {
    background-color: var(--color-white);

    flex: 1;
}
