/*
COLORS:

Light green: #54d98c
Medium green: #2ecc71
Dark green: #28b062

*/
/* ------------------------------------------- */
/* 7-1 TYPE FOLDER / FILES IMPLEMENTATION
/* ------------------------------------------- */
/* - ABSTRACTS FOLDER FILES - */
/* ------------------------------------------- */
/* COLOR VARIABLES
/* ------------------------------------------- */
/*$color-primary: #eb2f64;
$color-primary-light: #ff3366;
$color-primary-dark: #ba265d; */
/* GREY SHADES */
/*
$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333; */
/* B & W */
/*
$color-white: #fff;
$color-black: #000; */
/* COLORS FOR SECTIONS BACKGROUNDS */
/*
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #f1f0f0; */
/* - BASE FOLDER FILES - */
/* ------------------------------------------- */
/* BASIC SETUP
/* ------------------------------------------- */
:root {
  --color-primary:#eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-dark-1: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;
  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;
  --color-grey-light-3: #f1f0f0;
  --color-grey-light-4: #f4f2f2;
  --color-white: #fff;
  --color-black: #000;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* ------------------------------------------- */
/* HTML TYPOGRAPHY SETUP
/* ------------------------------------------- */
html {
  box-sizing: border-box;
  /* DEFINES WHAT REM IS */
  font-size: 62.5%;
  /* 1rem = 10px | 10px/16px = 62.5% (16px is browser default) */ }

/* ------------------------------------------- */
/* BODY TYPOGRAPHY SETUP
/* ------------------------------------------- */
body {
  font-family: 'Open Sans', 'Arial', 'sans-serif';
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-1);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

/* - COMPONENTS FOLDER FILES - */
/* ------------------------------------------- */
/* COMPONENTS-1 FOR HEADER OF THE TRILLO APP
/* ------------------------------------------- */
/* --- LOGO --- */
.logo {
  height: 3.25rem; }

/* --- SEARCH BOX --- */
.search__icon {
  height: 2rem;
  width: 2rem; }

/* --- USER NAVIGATION --- */
.user-nav__icon {
  height: 2.25rem;
  width: 2.25rem; }

.user-nav__user-photo {
  height: 3.75rem;
  border-radius: 50%; }

/* - LAYOUT FOLDER FILES - */
/* ------------------------------------------- */
/* HOTEL VIEW | LAYOUT / PAGE
/* ------------------------------------------- */
.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }

.header {
  height: 7rem;
  background-color: var(--color-white);
  border-bottom: var(--color-grey-light-4); }

.content {
  display: flex; }

.sidebar {
  background-color: var(--color-grey-dark-3);
  flex: 0 0 18%; }

.hotel-view {
  background-color: var(--color-white);
  flex: 1; }

/* - PAGES FOLDER FILES - */
